#grid-container {
  display: grid;
}

.cellule {
    border-color: rgb(255, 114, 48) ;
}
.cellule_0{
    background-color : yellow;
}
.cellule_end{
    background-color: tomato;
}

button {
    margin : 10px;
}